body {
  width:400px;
  margin:0 auto;
}
h2 {
  font-size: 18px;
  margin-bottom: 5px;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
}
li {
  padding: 5px 0;
  border-top: 1px dashed #CCC;
}
input, label {
  margin-top: 10px;
  display: block;
}
#interactions {
  display: none;
}
#board {
  text-align:center;
}
#eight {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  font-size: 100px;
}
.card {
  width: 120px;
  height: 75px;
	text-align: center;
  float: left;
  margin: 5px;

  border: 1px solid #666;
  border-radius: 10px;
  -moz-border-radius: 10px;

  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 2px 3x rgba(0, 0, 0, 0.15);

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.pattern-wrapper {
  margin: 10px auto;
}
.pattern {
  width: 33px;
  height: 55px;
  display: inline-block;
  background: url("https://raw.githubusercontent.com/vincentwoo/setgame/master/public/perm/cards.png") no-repeat;
}
