html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  width:400px;
  margin:0 auto;
  position: relative;
}
h1 {
  height: 43px;
  line-height: 43px;
  margin-bottom: 3px;
  padding-bottom: 0px;
  margin-left: 5px;
}
h2 {
  font-size: 18px;
  margin-bottom: 5px;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
}
li {
  padding: 5px 0;
  border-top: 1px dashed #CCC;
}
input, label {
  margin-top: 10px;
  display: block;
}
#system-message {
  height: 21px;
  line-height: 21px;
  margin-left: 5px;
}
#interactions {
  display: none;
}
#scoreboard-wrapper {
  position: absolute;
  top: 10px;
  right:10px;
  background: rgba(255, 204, 0, 0.3);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#scoreboard-head {
  margin: 3px 0 0 0;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
}
#scoreboard {
  width: 150px;
  padding: 0 5px 5px 5px;
}
.player-wrapper {
  width: 150px;
  height: 15px;
  line-height: 15px;
  font-size: 8px;
  clear: both;
}
.player-wrapper.me {
  font-weight: bold;
}
.player-wrapper.connected {
  color: black;
}
.player-wrapper.disconnected {
  color: #aaa;
}
.player-name:before {
  content: "•";
}
.player-name {
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  float:left;
}
.me-indicator {
  margin-left: 5px;
  float:left;
}
.player-score {
  width: 25px;
  font-size: 8px;
  text-align: right;
  float:right;
}
#board {
  text-align: center;
}
#board::after {
  content: "";
  display: block;
  clear: both;
}
#eight {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  font-size: 100px;
}
.card {
  box-sizing: border-box;
  width: 120px;
  height: 75px;
  float: left;
  margin: 5px;
  padding: 2px;

  border: 1px solid #666;
  border-radius: 10px;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: box-shadow 0.2s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card:hover {
  box-shadow: 0 6px 14px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.22);
}
.card.selected {
  border: 3px solid #00ca10;
  box-shadow: 0 10px 28px rgba(0,117,9,0.25), 0 6px 10px rgba(0,117,9,0.22);
  padding: 0px;
}
.pattern-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 10px;
  -moz-border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card.peer-selected .pattern-wrapper {
  border: 2px solid rgb(255, 0, 102);
}
.pattern {
  width: 33px;
  height: 52px;
  display: inline-block;
  background: url("/static/cards.png") no-repeat;
}
#button-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
#reset {
  height: 35px;
  line-height: 31px;
  float: left;
  margin-left: 5px;
  text-decoration: none;
  color: black;
  background-color: white;

  border: 1px solid #008CBA;
  border-radius: 4px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;

  transition: box-shadow 0.2s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#reset:hover {
  box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
}
#reset:active {
  background-color: #008CBA;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
#deck {
  height: 40px;
  width: 60px;
  float: left;
  margin-left: 10px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
#deck.disabled {
  cursor: default;
  pointer-events: none;
}
.card-small {
  position: absolute;
  width: 48px;
  height: 30px;
  line-height: 30px;

	text-align: center;

  background-color: #EEE;
  border: 1px solid #666;
  border-radius: 4px;
  -moz-border-radius: 4px;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  pointer-events: none;
}
#deck.disabled .card-small {
  background-color: #888;
}

.card-small-1 {
  top: 4px;
  left: 4px;
}
.card-small-2 {
  top: 3px;
  left: 3px;
}
.card-small-3 {
  top: 2px;
  left: 2px;
}
.card-small-4 {
  top: 1px;
  left: 1px;
}
#message-input-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
input {
  display: inline-block;
  float:left;
}
#msg-box {
  height: 24px;
  width: 340px;
}
#msg-submit {
  height: 30px;
  margin-left: 4px;
}
