body {
  width:400px;
  margin:0 auto;
  position: relative;
}
h1 {
  margin-bottom: 3px;
}
h2 {
  font-size: 18px;
  margin-bottom: 5px;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
}
li {
  padding: 5px 0;
  border-top: 1px dashed #CCC;
}
input, label {
  margin-top: 10px;
  display: block;
}
#message {
  height: 21px;
}
#interactions {
  display: none;
}
#scoreboard-wrapper {
  position: absolute;
  top: 10px;
  right:10px;
  background: rgba(255, 204, 0, 0.3);
}
#scoreboard-head {
  margin: 3px 0 0 0;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
}
#scoreboard {
  width: 150px;
  padding: 0 5px 5px 5px;
}
.player-wrapper {
  width: 150px;
  height: 15px;
  line-height: 15px;
  font-size: 8px;
  clear: both;
}
.player-wrapper.me {
  font-weight: bold;
}
.player-wrapper.connected {
  color: black;
}
.player-wrapper.disconnected {
  color: #aaa;
}
.player-name:before {
  content: "•";
}
.player-name {
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  float:left;
}
.me-indicator {
  margin-left: 5px;
  float:left;
}
.player-score {
  width: 25px;
  font-size: 8px;
  text-align: right;
  float:right;
}
#board {
  text-align: center;
}
#board::after {
  content: "";
  display: block;
  clear: both;
}
#eight {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  font-size: 100px;
}
.card {
  width: 120px;
  height: 75px;
	text-align: center;
  float: left;
  margin: 5px;

  border: 1px solid #666;
  border-radius: 10px;
  -moz-border-radius: 10px;

  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 2px 3x rgba(0, 0, 0, 0.15);

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.card.selected {
  border: 1px solid rgb(0, 231, 202);
  box-shadow: 2px 2px 3px rgba(0, 231, 202, 0.15);
  -moz-box-shadow: 2px 2px 3px rgba(0, 231, 202, 0.15);
  -webkit-box-shadow: 2px 2px 3x rgba(0, 231, 202, 0.15);
}
.pattern-wrapper {
  margin: 3px;
  padding: 7px 0px 1px 0px;
  border: 1px solid transparent;
  border-radius: 10px;
  -moz-border-radius: 10px;
}
.card.peer-selected .pattern-wrapper {
  border: 1px solid rgb(255, 0, 102);
}
.pattern {
  width: 33px;
  height: 55px;
  display: inline-block;
  background: url("/static/cards.png") no-repeat;
}
