<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=400, user-scalable=no">
        <title>보드게임 SET</title>
        <link rel="shortcut icon" href="/static/favicon.ico" />
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <h1>보드게임 SET</h1>
        <div id="message"></div>
        <button id="reset">게임 다시 시작</button>
        <button id="draw">카드 3장 열기</button>
        <button id="rename">이름 변경</button>
        <div id="scoreboard-wrapper">
            <p id="scoreboard-head">점수</p>
            <div id="scoreboard"></div>
        </div>
        <div id="board"></div>
        <div id="interactions">
            <ul id="messages"></ul>
            <form action="#" id="msg-form">
                <label>메시지 입력</label>
                <input type="text" name="lname" id="msg-box" size="40">
                <input type="submit" value="전송">
            </form>
            <br />
            <h2>메시지 목록</h2>
            <ul id="msg-list"></ul>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    </body>
</html>
