<!doctype html>
<html lang="ko">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93238645-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-93238645-2');
        </script>
        <!-- Google Analytics End -->

        <meta charset="UTF-8">
        <meta name="viewport" content="width=400, user-scalable=no">
        <title>보드게임 SET</title>
        <link rel="shortcut icon" href="/static/favicon.ico" />
        <link rel="stylesheet" href="css/index.css?p=107">
        <link rel="stylesheet" href="css/animation.css">
    </head>
    <body>
        <h1>보드게임 SET</h1>
        <div id="system-message"></div>
        <div id="button-wrapper">
            <button id="reset">게임 다시 시작</button>
            <div id="deck">
                <div class="card-small card-small-1">
                </div>
                <div class="card-small card-small-2">
                </div>
                <div class="card-small card-small-3">
                </div>
                <div class="card-small card-small-4" id="top-card">
                    (0장)
                </div>
            </div>
        </div>
        <div id="scoreboard-wrapper">
            <p id="scoreboard-head">점수</p>
            <div id="scoreboard"></div>
        </div>
        <div id="board"></div>
        <div id="interactions">
            <ul id="messages"></ul>
            <form action="#" id="msg-form">
                <label>메시지 입력</label>
                <div id="message-input-wrapper">
                    <input type="text" name="lname" id="msg-box">
                    <input type="submit" id="msg-submit" value="전송">
                </div>
            </form>
            <br />
            <h2>메시지 목록</h2>
            <ul id="msg-list"></ul>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    </body>
</html>
